<div class="container header-container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-inline">
        <li class="list-inline-item">
          <img src="assets/images/logo.svg" class="img-fluid" style="width:44px;">
        </li>
        <li class="list-inline-item">
          <p>My Pizza</p>
        </li>
      </ul>

    </div>
    <div class="col-md-9">
      <div class="header-menu">
        <ul class="list-inline">
          <li class="list-inline-item">
            <h6>File</h6>
          </li>
          <li class="list-inline-item">
            <h6>Edit</h6>
          </li>
          <li class="list-inline-item">
            <h6>View</h6>
          </li>
          <li class="list-inline-item">
            <h6>Help</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
